@layer components {
  .navbar {
    @apply bg-transparent;
    @apply flex items-center;

    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;

    &.active {
      @apply bg-[#020D21];
      box-shadow: 0px 4px 33px rgba(45, 62, 94, 0.09);

      @apply z-base;
    }

    &-collapse {
      @apply flex;
      @apply fixed sm:relative top-16 sm:top-0 inset-x-0;      

      @apply invisible sm:visible opacity-0 sm:opacity-100;
      @apply z-[-1] sm:z-10;

      @apply transform -translate-y-6 sm:translate-y-0;

      &.active {
        @apply bg-[#020D21];
        @apply visible opacity-100;

        @apply transform translate-y-0; 
      }
    }
  }
}  